# Mobile Expo only.
# Backend, GPS, PostgreSQL, Redis and Nginx are already hosted on Scaleway.

EXPO_PUBLIC_API_URL=http://51.158.102.141/api/v1
EXPO_PUBLIC_GPS_URL=http://51.158.102.141
EXPO_PUBLIC_GEOCODING_URL=https://nominatim.openstreetmap.org/search
REACT_NATIVE_PACKAGER_HOSTNAME=192.168.1.20

EXPO_PUBLIC_USE_SIMULATED_PAYMENT=true
EXPO_PUBLIC_ENABLE_DEMO_SIMULATION=true
EXPO_PUBLIC_DEMO_PASSWORD=password123
